:root {
    --button-bg-color: #000000;
    --button-hover-color: #2f2f30;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.board img {
    transform: rotate(13.96deg)scale(0.5);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--button-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

button:hover {
    background-color: var(--button-hover-color);
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#difficultyLevel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 0 20px;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    width: 300px;
    height: 300px;
}

#AIscoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-bottom: 200px;
    font-size: 24px;
}

#PlayerscoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-top: 200px;
    font-size: 24px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#buttonsContainer.hidden {
    /* Hide it initially */
    display: none; 
}

#difficultyLevel.hidden {
    /* Hide it initially */
    display: none; 
}

#gameContainer.hidden {
    /* Hide it initially */
    display: none; 
}

#AIscoreBoard.hidden {
    /* Hide it initially */
    display: none; 
}

#PlayerscoreBoard.hidden {
    /* Hide it initially */
    display: none; 
}


#buttonsContainer.visible {
    /* Show it when the class is added */
    display: flex; 
}

#ayoBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #382112;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 2px #000000; /* Add shadow */
}

.playerSide {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pit {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 50%; /* Make the pits circular */
    background: radial-gradient(circle at center, #8B4513, #5a351d); /* Use a radial gradient to simulate depth */
    box-shadow: inset 0 0 10px #000, 0 0 10px #000; /* Add an outer shadow for a 3D effect */
    color: #fff; /* White text */
    font-weight: bold; /* Bold text */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.backgroundImage {
    background-image: url('./images/AyoLogo.jpeg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.8); /* white with 50% transparency */
    background-blend-mode: overlay;
    transition: background-image 2s ease-in-out;
}

/* .scoreBoardLook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-top: 200px;
    font-size: 24px;
} */

.exit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: rgb(29, 29, 29);
    cursor: pointer;
    display: none; /* Initially hidden */
}

#optionsMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    margin: 0 20px;
}

#optionsMenu.hidden {
    /* Hide it initially */
    display: none; 
}

#optionsMenu.visible {
    /* Show it when the class is added */
    display: flex; 
}